#app{
    margin: auto;
    width: 30%;
    box-sizing: border-box;
}
.a-loader-title{
    color: transparent;
}
.container{
    margin: auto;
    width: 95%;
}
.button{
    margin: 40px 0;
}
#scan{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
}
#close-cam{
    margin: 10px;
    background-color: black;
    border-radius: 5px;
    padding: 2px;
    opacity: 80%;
}
#example{
    position: absolute;
    bottom: 15px;
    right: 15px;
}
#scan-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}
#footer{
    position: absolute;
    bottom:10px;
    color: white;
    width: 100%;
    text-align: center;
}
.color-skeleton{
    --f7-theme-color: #ccc
}
:root.md {
    --f7-font-family : 'Poppins', sans-serif;
}
:root.ios {
    --f7-font-family : 'Poppins', sans-serif;
}
:root.aurora {
    --f7-font-family: 'Poppins', sans-serif;
}
/* mobile */
@media only screen and (max-device-width: 768px ) {
    #app{
        width: 100%;
    }
}

/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #app{
        width: 60%;
    }
}
