body{
    margin: auto;
    width: 25%;
    box-sizing: border-box;
}
.a-loader-title {
    color: transparent;
}
.container{
    margin: auto;
    width: 95%;
}
.button{
    margin: 40px 0;
}
#scan{
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
#close-cam{
    margin: 10px;
    background-color: black;
    border-radius: 5px;
    padding: 2px;
    opacity: 80%;
}
#footer{
    position: absolute;
    bottom:10px;
    color: white;
    width: 100%;
    text-align: center;
}
:root.md {
    --f7-font-family : 'Poppins', sans-serif;
}
:root.ios {
    --f7-font-family : 'Poppins', sans-serif;
}
:root.aurora {
    --f7-font-family: 'Poppins', sans-serif;
}
/* mobile */
@media only screen and (max-device-width: 768px ) {
    body{
        width: 100%;
    }
}

/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body{
        width: 60%;
    }
}
